<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %> 
</head>
<body>
<% include partials/menu %>

<div class="container-fluid bg-3 text-center">    
  <h3><%= page %></h3><br>
  <div class="row">
    <div class="col-sm-4">
      <p>Telephone: 01509215023</p>
      
    </div>
    <div class="col-sm-4"> 
      <p>Location: 11 Moira St, Loughborough LE11 1AU</p>
    </div>
    <div class="col-sm-4"> 
      <p>Find us on <a href="https://www.just-eat.co.uk/restaurants-roccosfishbar-le11">JustEat</a></p>
    </div>
  </div>
</div>

</body>
<% include partials/script %>
</html>