<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %>
</head>
<body>
<% include partials/menu %>

<div class="container-fluid bg-3 text-center" id="page-container">
  <h3><%= page %></h3><br>
  <div class="row" id="content-wrap">
      <div class="col-sm-4">
          <a href="https://www.just-eat.co.uk/restaurants-roccosfishbar-le11"> <img src='https://www.computing.co.uk/w-images/02c8f1c3-d648-4e4e-9da1-effd75a3370c/0/justeatlogo-580x358.png' height="250" width="300" /> </a>
          <p>We offer delivery, either via phone-call on <a href="tel:01509219576">01509215023</a> or online through<a href="https://www.just-eat.co.uk/restaurants-roccosfishbar-le11"> JustEat</a></p>
      </div>
      <div class="col-sm-4">
<p>Welcome! We're open Monday to Saturday</p>
    <table>
      <tr>
        <th>Day</th>
        <th>Time</th>
      </tr>
      <tr>
        <td>Monday</td>
        <td>5pm-9pm</td>
      </tr>
        <tr>
            <td>Tuesday</td>
            <td>  11:30am-2pm   5pm-9pm</td>
        </tr>
        <tr>
            <td>Wednesday</td>
            <td>  11:30am-2pm   5pm-9pm</td>
        </tr>
        <tr>
            <td>Thursday</td>
            <td>  11:30am-2pm   5pm-10pm</td>
        </tr>
        <tr>
            <td>Friday</td>
            <td>  11:30am-2pm   5pm-10pm</td>
        </tr>
        <tr>
            <td>Saturday</td>
            <td>  11:30am-2pm   5pm-10pm</td>
        </tr>
      </table>
          <h3>You can view our menu <a href="http://www.roccosfishbar.com/menu"> here </a></h3>
      </div>
      <div class="col-sm-4">
          <p>Find Us Here</p>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2413.9539562588916!2d-1.2026781843007834!3d52.76910432549079!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4879e0a5b3027dfd%3A0xf7f328fbe0cca029!2sRocco&#39;s!5e0!3m2!1sen!2suk!4v1569405892296!5m2!1sen!2suk" width="400" height="300" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
      </div>
  </div>
    <footer id="footer">Developed and maintained by <a href="http://www.nikhilvedi.xyz">nikhilvedi.xyz</a> </footer>
</div>

</body>
<% include partials/script %>
</html>
