<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %>
</head>
<body>
<% include partials/menu %>

<div class="container-fluid bg-3 text-center">
  <h3><%= page %></h3><br>
  <div class="row">
      <div class="col-sm-4">
      </div>
      <div class="col-sm-4">
<p>Welcome! We're open Monday to Saturday</p>
    <table>
      <tr>
        <th>Day</th>
        <th>Time</th>
      </tr>
      <tr>
        <td>Monday</td>
        <td>  11am-2pm   5pm-10pm</td>
      </tr>
        <tr>
            <td>Tuesday</td>
            <td>  11am-2pm   5pm-10pm</td>
        </tr>
        <tr>
            <td>Wednesday</td>
            <td>  11am-2pm   5pm-10pm</td>
        </tr>
        <tr>
            <td>Thursday</td>
            <td>  11am-2pm   5pm-10pm</td>
        </tr>
        <tr>
            <td>Friday</td>
            <td>  11am-2pm   5pm-10:30pm</td>
        </tr>
        <tr>
            <td>Saturday</td>
            <td>  11am-2pm   5pm-10:30pm</td>
        </tr>
      </table>
          <p>We offer delivery, either via phone-call or through <a href="https://www.just-eat.co.uk/restaurants-roccosfishbar-le11">JustEat</a></p>
      </div>
      <div class="col-sm-4">
      </div>
  </div>
</div>

</body>
<% include partials/script %>
</html>
