<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %>
</head>
<body>
<% include partials/menu %>

<div class="container-fluid bg-3 text-center">
  <h3><%= page %></h3><br>
  <div class="row">
    <div class="col-sm-4">
      <h1>Fish & Chips</h1>
      <table>
        <tr>
          <th>Item</th>
          <th>Price</th>
        </tr>
        <tr>
          <td>Small Chips</td>
          <td>£1.80</td>
        </tr>
        <tr>
          <td>Large Chips</td>
          <td>£2.80</td>
        </tr>
        <tr>
          <td>Cheesy Chips</td>
          <td>£2.50</td>
        </tr>
        <tr>
          <td>Chip Cob</td>
          <td>£1.80</td>
        </tr>
        <tr>
          <td>Mini Fish & Chips</td>
          <td>£3.90</td>
        </tr>
        <tr>
          <td>Haddock</td>
          <td>£4.70</td>
        </tr>
        <tr>
          <td>Cod</td>
          <td>£4.70</td>
        </tr>
        <tr>
          <td>Plaice</td>
          <td>£4.70</td>
        </tr>
        <tr>
          <td>Cod Roe</td>
          <td>£1.10</td>
        </tr>
        <tr>
          <td>Large Fish Cake</td>
          <td>£1.10</td>
        </tr>
        <tr>
          <td>Scampi</td>
          <td>£3.80</td>
        </tr>
        <tr>
          <td>Breaded Fish</td>
          <td>£4.90</td>
        </tr>
      </table>
      <h1>Ribs & Southern Fried Chicken</h1>
      <table>
        <tr>
          <th>Item</th>
          <th>Price</th>
        </tr>
        <tr>
          <td>2 Southern Fried Chicken & Chips</td>
          <td>£4.50</td>
        </tr>
        <tr>
          <td>3 Southern Fried Chicken & Chips</td>
          <td>£5.50</td>
        </tr>
        <tr>
          <td>Piece of SFC</td>
          <td>£1.40</td>
        </tr>
        <tr>
          <td>2 Ribs & Chips</td>
          <td>£5.90</td>
        </tr>
        <tr>
          <td>3 Ribs & Chips</td>
          <td>£7.90</td>
        </tr>
        <tr>
          <td>Single Rib</td>
          <td>£2.20</td>
        </tr>
      </table>
      <h1>Extras</h1>
      <table>
        <tr>
          <th>Item</th>
          <th>Price</th>
        </tr>
        <tr>
          <td>Plain Cob</td>
          <td>50p</td>
        </tr>
        <tr>
          <td>10 Chicken Nuggets</td>
          <td>£2.80</td>
        </tr>
        <tr>
          <td>Pancake Roll</td>
          <td>£1.50</td>
        </tr>
        <tr>
          <td>Potato Fritter</td>
          <td>50p</td>
        </tr>
        <tr>
          <td>10 Onion Rings</td>
          <td>£1.80</td>
        </tr>
      </table>
    </div>
    <div class="col-sm-4">
      <h1>Pies</h1>
      <table>
        <tr>
          <th>Item</th>
          <th>Price</th>
        </tr>
        <tr>
          <td>Chicken & Mushroom</td>
          <td>£2.50</td>
        </tr>
        <tr>
          <td>Steak & Kidney</td>
          <td>£2.50</td>
        </tr>
        <tr>
          <td>Beef & Onion</td>
          <td>£2.50</td>
        </tr>
        <tr>
          <td>Cheese & Onion Pasty</td>
          <td>£1.90</td>
        </tr>
        <tr>
          <td>All Steak</td>
          <td>£2.80</td>
        </tr>
        <tr>
          <td>Cornish Pasty</td>
          <td>£2.80</td>
        </tr>
      </table>
      <h1>Burgers</h1>
      <table>
        <tr>
          <th>Item</th>
          <th>Price</th>
        </tr>
        <tr>
          <td>Beef Burger</td>
          <td>£1.40</td>
        </tr>
        <tr>
          <td>Burger in Batter</td>
          <td>£1.50</td>
        </tr>
        <tr>
          <td>Burger With Salad</td>
          <td>£1.60</td>
        </tr>
        <tr>
          <td>Chicken Burger</td>
          <td>£1.80</td>
        </tr>
        <tr>
          <td>Veggie Burger & Chips</td>
          <td>£3.20</td>
        </tr>
      </table>
      <h1>Sausages</h1>
      <table>
        <tr>
          <th>Item</th>
          <th>Price</th>
        </tr>
        <tr>
          <td>Jumbo Plain</td>
          <td>£1.20</td>
        </tr>
        <tr>
          <td>Jumbo Battered</td>
          <td>£1.30</td>
        </tr>
        <tr>
          <td>Small Plain</td>
          <td>80p</td>
        </tr>
        <tr>
          <td>Small Battered</td>
          <td>90p</td>
        </tr>
        <tr>
          <td>Savaloy</td>
          <td>£1.30</td>
        </tr>
      </table>
      <h1>Sundries</h1>
      <table>
        <tr>
          <th>Item</th>
          <th>Price</th>
        </tr>
        <tr>
          <td>Mushy Peas</td>
          <td>90p / £.120</td>
        </tr>
        <tr>
          <td>Baked Beans</td>
          <td>90p / £.120</td>
        </tr>
        <tr>
          <td>Onion Gravy</td>
          <td>90p / £.120</td>
        </tr>
        <tr>
          <td>Curry Sauce</td>
          <td>90p / £.120</td>
        </tr>
      </table>
    </div>
    <div class="col-sm-4">
      <h1>Kebabs</h1>
      <h3>Donner</h3>
      <table>
        <tr>
          <th>Item</th>
          <th>Price</th>
        </tr>
        <tr>
          <td>Small</td>
          <td>£3.95</td>
        </tr>
        <tr>
          <td>Large</td>
          <td>£4.99</td>
        </tr>
        <tr>
          <td>Mixed</td>
          <td>5.90</td>
        </tr>
        <tr>
          <td>Donner & Chips On Tray (Small)</td>
          <td>£3.90</td>
        </tr>
        <tr>
          <td>Donner & Chips On Tray (Large)</td>
          <td>£4.80</td>
        </tr>
        <tr>
          <td>Mixed Meat & Chips On Tray (Small)</td>
          <td>£3.90</td>
        </tr>
        <tr>
          <td>Mixed Meat & Chips On Tray (Large)</td>
          <td>£4.80</td>
        </tr>
        <tr>
          <td>Small Donner Tray</td>
          <td>£4.50</td>
        </tr>
        <tr>
          <td>Large Donner Tray</td>
          <td>£5.60</td>
        </tr>
        <tr>
          <td>Cob</td>
          <td>£2.80</td>
        </tr>
        </tr>
      </table>
      <h3>Chicken</h3>
      <table>
        <tr>
          <th>Item</th>
          <th>Price</th>
        </tr>
        <tr>
          <td>Small</td>
          <td>£4.10</td>
        </tr>
        <tr>
          <td>Large</td>
          <td>£5.50</td>
        </tr>
        <tr>
          <td>Chicken & Chips On Tray (Small)</td>
          <td>£4.50</td>
        </tr>
        <tr>
          <td>Chicken & Chips On Tray (Large)</td>
          <td>£5.50</td>
        </tr>
        <tr>
          <td>Small Chicken Tray</td>
          <td>£4.50</td>
        </tr>
        <tr>
          <td>Large Chicken Tray</td>
          <td>£5.60</td>
        </tr>
        <tr>
          <td>Cob</td>
          <td>2.90</td>
        </tr>
      </table>
      <h3>Salad</h3>
      <table>
        <tr>
          <th>Item</th>
          <th>Price</th>
        </tr>
        <tr>
          <td>Small</td>
          <td>£1.90</td>
        </tr>
        <tr>
          <td>Large</td>
          <td>£2.30</td>
        </tr>
      </table>
    </div>
  </div>
</div>

</body>
<% include partials/script %>
</html>
